body{
  background-color: #F0EDCF;
}
#title{
  background-color:  #298ad3;
  
}

/* @media only screen and (max-width : 900px) {
  body{
  background-color: blue;
} */

.navbar{
  background-color: #3472B3;
  
}

/* title i9nmage */
.main{
 
  /* margin-bottom: 10px;
  margin-left: 10px; */
  height: 8%;
  width: 8rem; 
  border-radius: 45px;
  border-style: inset;
  border-color: transparent;

}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  line-height: 1.5;

}
.testimonial-text{
  font-family: 'Montserrat-bold';
  font-size: 1.5rem;
  padding: 1% ;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  font-size: 2.5rem;
padding-left: 25%;
padding-right: 25%;
padding-top: 7%;


}
h3{
  font-family: 'Montserrat-bold';
  font-size: 1.5rem;
  text-align: center;
}
p{


  color: #8f8f8f;
  text-align: center;
}
.container-fluid{
  padding: 2% 5% ;
  margin: 0%;
}
body{
  font-family: 'Montserrat', sans-serif;
}

/* navbar */
.navbar-brand{
  padding-right: 40%;
  margin-top: 0px;
  margin-bottom: 0%;

}

.navbar{
 padding: 0%;
  margin-bottom: 2.5rem;
  
  
  
}
.nav-item{
  padding: 0 20px;

  
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat-light';

}

.working{
  height: 90%;
  width: 90%;
}




/* buttons download */
.download-button{
  margin: 5% 3% 5% 0;
}

/* 2nd line design features */
.checkbox{
color: #A7DAFF;
margin: 1.2rem;


}
.checkbox:hover{
  color: #0E98FF;
}
.feature-box{
  text-align: center;

}
.featureunder{
  padding: 100px;
  padding: 7% 15%;
}

/* testonomila */

#testimonials{
  background-color:  #40A2D8;
  text-align: center;

}
.Testimonials-img{
  width: 6%;

  border-radius: 100%;
  padding-bottom: 30px;
}
.quote{
  color: #fff;
}
#press{
  background-color:  #40A2D8;
  text-align: center;
padding: 7% 8%;
}
.press-logo{
  width: 13%;
  padding: 10px 10px 8px 10px;
}
.h2shit{
  color: black;
}

/* pricing */
#pricing{
  padding: 100px;
}
.pfirst{
  padding-top: 100px;
}
.pricingh2{
  font-family: 'Montserrat-bold';
  font-size: 2.5rem;
  text-align: center;
}
.pricing-card-title{
  font-size: 1.5rem;
}


/* cta */

#cta{
  text-align: center;
  background-color: #40A2D8;
 padding-top: 20px;
 padding-bottom: 30px;
}
.ctah3{
  padding: 5% 5% 4%;
color:  #fff;
text-align: center;
  font-family:  'Montserrat', sans-serif;
  font-size: 3rem;
}

/* footer */
#footer{
  padding: 75px;
  text-align: center;
}
.style2{
  padding: 20px;
}
